html {
  font-size: 14px;
}

body {
  Font-Family: Montserrat, Sans-serif;
  Font-Size: 14px;
  line-height: 1.4;
  /* letter-spacing: 0.1em; */
}

h1, h2, h3, h4, h5, h6 {
  Font-Family: 'Cinzel', serif;
  letter-spacing: 0.1em;
}

h1.title {
  Font-Family: 'Cinzel', serif;
  Font-Size: 4rem;
  text-align: center;
  padding: 5rem 3rem;
}

h1 {
  font-size: 2.5rem;
}

header, header div, article {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

header {
  Font-Family: 'Cinzel', serif;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid gray;
  position: sticky;
  z-index: 10;
  top: 0;
  background: white;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  padding: 2rem 1rem;
}

.header {
  margin: 1rem;
}

article.preview {
  max-width: 50rem;
  min-height: 25rem;
  padding: 2rem;
  margin: 3rem auto;
  background-color: lightgray;
}

article.preview img {
  margin: 2rem;
  max-width: 15rem;
}

article.preview div {
  margin-right: 2rem;
}

article.preview div p {
  text-align: justify;
  margin-bottom: 2rem;
}

img.logo-small {
  vertical-align: middle;
  margin: 0 0.5rem;
}

img.logo-small.header {
  margin: 0 1rem;
  max-height: 50px;
}

footer {
  text-align: center;
  border-top: 1px solid gray;
  padding: 2rem;
  justify-content: space-around;
  line-height: 1.1
}