/* Notes:
BEM-model for naming classes: block__element--modifier
Font-sizing idea: use px for root element, rem for block elements, and em for actual text elements (h1, h2, p, li, etc.)*/
/* Site Stylesheet
  1. Global Styles and Variables
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */
/* 1. Global Styles and Variables
================================================ */
footer.flex, header, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
  letter-spacing: 0.1em;
}

.article-preview, .pageination > div, footer.flex, nav > ul, header, .flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", Sans-serif;
  line-height: 1.5;
}

/* 2. Typography Styles
================================================ */
h1 {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 4rem;
  text-align: left;
  max-width: 40rem;
  padding: 0 3rem;
}

/* 3. Structure Styles
(containers, show/hide on mobile classes)
================================================ */
main > div {
  height: 100vh;
  padding: 10%;
}

.flex > * {
  padding: 0 1em;
}

/* 4. Module Styles
(header, footer)
================================================ */
header {
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  font-size: 1.2rem;
  justify-content: space-between;
  background: white;
  padding: 0 20%;
  border-bottom: 1px solid lightgray;
}

nav li {
  padding: 2rem 1rem;
}

footer.flex {
  justify-content: center;
  padding: 2rem;
  height: 20rem;
  border-top: 1px solid lightgray;
  z-index: 20;
  background: darkgray;
}

/* 5. Component Styles
(buttons, input, etc.)
================================================ */
.button {
  border-radius: 100px;
  background-color: gray;
  border: none;
  color: white;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  margin: 0 auto;
}

.button:after,
.button:before {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.button:before {
  border-top: 2px solid gray;
  left: 0;
  top: -5px;
}

.button:after {
  border-bottom: 2px solid gray;
  bottom: -5px;
  right: 0;
}

.button:hover {
  background-color: gray;
}

.button:hover:after,
.button:hover:before {
  height: 100%;
  width: 100%;
}

/* 6. Page Styles
(page specific styles, primarily classes)
================================================ */
.hero {
  background-color: darkgray;
  height: 95vh;
}

.pageination {
  margin: 10em auto;
}
.pageination > div {
  flex-direction: column;
}

.pageination__img {
  max-width: 10em;
}

/* Logo */
.logo-small {
  max-height: 25px;
  margin: 0 0.5rem;
}

.article-preview {
  max-width: 50rem;
  min-height: 25rem;
  height: auto;
  padding: 2rem;
  margin: 0 auto;
  background-color: lightgray;
  flex-wrap: nowrap;
}
.article-preview .col-1 {
  margin-right: 2rem;
  text-align: justify;
  padding-bottom: 2rem;
}
.article-preview .col-1 h1 {
  text-align: left;
}
.article-preview .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.article-preview .article-preview__img {
  margin: 2rem;
  max-width: 15rem;
}

/*# sourceMappingURL=style.css.map */
