
.article-preview {
  @extend %flex-container;
  max-width: 50rem;
  min-height: 25rem;
  height: auto;
  padding: 2rem;
  margin: 0 auto;
  background-color: $c-light-shade;
  flex-wrap: nowrap;
  border-radius: 10px;

  .col-1 {
    margin-right: 2rem;
    text-align: justify;
    padding-bottom: 2rem;

    h1,h2,h3,h4 {
      text-align: left;
      margin-bottom: 1em;
    }
  }

  // TODO: refactor to use float on image and button

  .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .article-preview__img {
    margin: 2rem;
    max-width: 15rem;
  }
}
