
article.preview {
  @extend %flex-container;
  max-width: 50rem;
  min-height: 25rem;
  padding: 2rem;
  margin: 10rem auto;
  background-color: lightgray;

  div {
    margin-right: 2rem;
    text-align: justify;
    padding-bottom: 2rem;
  }

  .preview__img {
    margin: 2rem;
    max-width: 15rem;
  }
}
