
footer.flex {
  @extend %flex-container;
  justify-content: center;
  padding: 2rem;
  height: 20rem;
  border-top: 1px solid lightgray;
  z-index: 20;
  @extend %headings-styles;
  background: $c-dark-shade;
  color: $c-light-shade;
}
