
footer.flex {
  @extend %flex-container;
  justify-content: center;
  padding: 2rem;
  height: 20rem;
  border-top: 1px solid lightgray;
  z-index: 20;
  background: $c-dark-shade;
  color: $c-light-shade;
  font-family: $font-headings;
  p {
    margin: 0
  }
}
