
.footer {
  @extend %flex-container;
  justify-content: space-around;
  padding: 2rem;
  height: 20rem;
  border-top: 1px solid lightgray;
  z-index: 20;
  background: $c-dark-shade;
  color: $c-light-shade;
  font-family: $font-headings;
  p {
    margin: 0;
  }
}

.footer__contact {
    i {
      margin: 0.5rem 1rem;
    }
}

.footer__credits {
  max-width: 300px;

  img {
    margin: 0 1rem;
  }
}
