
// Header
header {
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  font-size: 1.2rem;
  @extend %flex-container;
  justify-content: space-between;
  background: $c-light-shade;
  height: $header-height;
  padding: 0 15%;
  border-bottom: 1px solid $c-light-accent;
  font-family: $font-headings;

  p {
    margin: 0;
  }
}
