
// Header
header {
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  @extend %headings-styles;
  font-size: 1.2rem;
  @extend %flex-container;
  justify-content: space-between;
  background: white;
  padding: 0 20%;
  border-bottom: 1px solid lightgray;
}

// Navigation
nav > ul {
  @extend %flex-container;
}

nav li {
  padding: 2rem 1rem;
}

nav .active {
  color: $c-main-brand;
}
