
// Header
header {
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  height: $header-height;
  padding: 0 15%;
  border-bottom: 1px solid $c-light-accent;
  font-family: $font-headings;

  p {
    margin: 0;
  }
}

.header__logo-div {
  display: flex;
  align-items: center;
  justify-content: space-around;

  > * {
    padding: 0 1em;
  }
}
