/* Notes:
BEM-model for naming classes: block__element--modifier
Font-sizing idea: use px for root element, rem for block elements, and em for actual text elements (h1, h2, p, li, etc.)*/
/* Site Stylesheet
  1. Global Styles and Variables
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */
/* 1. Global Styles and Variables
================================================ */
$font-body: 'Open Sans', sans-serif;
$font-headings: 'Exo 2', sans-serif;

/* Color Theme Swatches in Hex */
$c-light-shade: #F3F5F4;
$c-light-accent: #D1E0E0;
$c-main-brand: #F3BA33;
$c-dark-accent: #BD5442;
$c-dark-shade: #333838;

$c-primary-button: #00A993;
$header-height: 4em;


* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-body;
  font-weight: 400;
  line-height: 1.45;
  color: $c-dark-shade;
  background-color: $c-light-shade;
}

/* 2. Typography Styles
================================================ */

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: $font-headings;
  font-weight: 600;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
  text-align: center;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 3. Structure Styles
(containers, show/hide on mobile classes)
================================================ */

main {
  padding-top:$header-height;
}
main > div {
  padding: 5% 10% ;
}

main > section {
  padding: 5% 10% ;
}

form {
  text-align: center;
}

%flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.flex {
  @extend %flex-container;
  > * {
    padding: 0 1em;
  }
}

// Navigation
nav {
  display: flex;
  justify-content: center;

  > ul {
    @extend %flex-container;
  }

  li {
    padding: 2rem 1rem;
  }

  .active {
    color: $c-dark-accent;
  }
  
}



/* 4. Module Styles
(header, footer)
================================================ */
@import 'header';
@import 'footer';

/* 5. Component Styles
(buttons, input, etc.)
================================================ */
input {
  text-align: left;
  margin: 2em 2em;
  padding: 0.7em 0.8em;
  width: 22rem;
}

$primary-button-color: $c-primary-button;

.button {
  border-radius: 100px;
  background-color: $primary-button-color;
  border: none;
  color: white;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  margin: 0 auto;
}

.button:after,
.button:before {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: '';
  height: 24px;
  position: absolute;
  width: 24px;
}

.button:before {
  border-top: 2px solid $primary-button-color;
  left: 0;
  top: -5px;
}

.button:after {
  border-bottom: 2px solid $primary-button-color;
  bottom: -5px;
  right: 0;
}

.button:hover {
  background-color: $primary-button-color;
}

.button:hover:after,
.button:hover:before {
  height: 100%;
  width: 100%;
}

.pagination {
  list-style: none;
  > li {

  }
}

/* 6. Page Styles
(page specific styles, primarily classes)
================================================ */
@import 'article-preview';

.hero {
  background-image: linear-gradient(to right bottom, #f3ba33, #ed9e35, #e1833a, #d16a3f, #bd5442);
  height: 95vh;
  // TODO: use background that is off-set, so it ends mid-way through article?
}

.articles {
  margin: 6em auto;
  @extend %flex-container;
  justify-content: center;

  > div {
    @extend %flex-container;
    flex-direction: column;
    margin: 0 2.5em;
    padding: 2em 4em;
    border: 1px solid $c-light-accent;
    box-shadow: 2px 2px 1px $c-dark-shade;
    border-radius: 10px;
  }
}

.search--input {
  margin: auto;
}

.articles__img {
  max-width: 10em;
}
/* Logo */

.logo-small {
  max-height: 25px;
  margin: 0 0.5rem;
}
