/* Notes:
BEM-model for naming classes: block__element--modifier
Font-sizing idea: use px for root element, rem for block elements, and em for actual text elements (h1, h2, p, li, etc.)*/
/* Site Stylesheet
  1. Global Styles and Variables
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */
/* 1. Global Styles and Variables
================================================ */
$font-body: 'Open Sans', sans-serif;
$font-headings: 'Exo 2', sans-serif;

/* Color Theme Swatches in Hex */
$c-light-shade: #F3F5F4;
$c-light-accent: #D1E0E0;
$c-main-brand: #F3BA33;
$c-dark-accent: #BD5442;
$c-dark-shade: #333838;

/* Color Theme Swatches in RGBA */
$Warhammer-Showcase-1-1-rgba: rgba(243,245,244, 1);
$Warhammer-Showcase-1-2-rgba: rgba(150,175,176, 1);
$Warhammer-Showcase-1-3-rgba: rgba(243,186,51, 1);
$Warhammer-Showcase-1-4-rgba: rgba(189,84,66, 1);
$Warhammer-Showcase-1-5-rgba: rgba(57,52,57, 1);

/* Color Theme Swatches in HSLA */
$Warhammer-Showcase-1-1-hsla: hsla(150, 9, 95, 1);
$Warhammer-Showcase-1-2-hsla: hsla(182, 14, 63, 1);
$Warhammer-Showcase-1-3-hsla: hsla(42, 88, 57, 1);
$Warhammer-Showcase-1-4-hsla: hsla(8, 48, 50, 1);
$Warhammer-Showcase-1-5-hsla: hsla(300, 4, 21, 1);

%headings-styles {
  font-family: $font-headings;
  letter-spacing: 0.1em;
}

@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-body;
  line-height: 1.5;
  color: $c-dark-shade;
  background-color: $c-light-shade;
}

/* 2. Typography Styles
================================================ */
@include headings {
  @extend %headings-styles;
}

h1 {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 4rem;
  text-align: left;
  // line-height: 2;
  max-width: 40rem;
  padding: 0 3rem;
}

/* 3. Structure Styles
(containers, show/hide on mobile classes)
================================================ */
main > div {
  padding: 5% 10% ;
}

%flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.flex {
  @extend %flex-container;

  > * {
    padding: 0 1em;
  }
}

/* 4. Module Styles
(header, footer)
================================================ */
@import 'header';
@import 'footer';

/* 5. Component Styles
(buttons, input, etc.)
================================================ */
$primary-button-color: $c-dark-accent;

.button {
  border-radius: 100px;
  background-color: $primary-button-color;
  border: none;
  color: white;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  margin: 0 auto;
}

.button:after,
.button:before {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: '';
  height: 24px;
  position: absolute;
  width: 24px;
}

.button:before {
  border-top: 2px solid $primary-button-color;
  left: 0;
  top: -5px;
}

.button:after {
  border-bottom: 2px solid $primary-button-color;
  bottom: -5px;
  right: 0;
}

.button:hover {
  background-color: $primary-button-color;
}

.button:hover:after,
.button:hover:before {
  height: 100%;
  width: 100%;
}

/* 6. Page Styles
(page specific styles, primarily classes)
================================================ */

.hero {
  background-color: $c-main-brand;
  height: 100vh;
}

.pageination {
  margin: 6em auto;
  @extend %flex-container;
  justify-content: center;

  > div {
    @extend %flex-container;
    flex-direction: column;
    margin: 0 2.5em;
    padding: 2em 4em;
    background-color: $c-light-accent;
    border-radius: 10px;
  }
}

.pageination__img {
  max-width: 10em;
}
/* Logo */

.logo-small {
  max-height: 25px;
  margin: 0 0.5rem;
}
@import 'article';
